<article>
  <header><h2>Addresses</h2></header>
  <address>
    <p>Written by Jon Doe.</p>
    <p>Visit us at:</p>
    <p>Example.com</p>
    <p>Box 564, Disneyland</p>
    <p>USA</p>
  </address>
</article>
