<article>
  <header><h2>Addresses</h2></header>
  <address>
    Written by <a href="">Jon Doe.</a>
    <br />
    Visit us at:
    <br />
    Example.com
    <br />
    Box 564, Disneyland
    <br />
    USA
  </address>
</article>
