<article>
  <header><h2>Asides</h2></header>
  <aside class="foreground">
    <h4>Aside title</h4>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci hic,
      harum est officia, tempore modi nulla perspiciatis, voluptatum quod
      possimus earum! Impedit repudiandae autem illum pariatur sequi nesciunt
      ipsum consequuntur.
    </p>
  </aside>
</article>
