<article>
  <header><h2>Blockquotes</h2></header>
  <blockquote>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius id
      voluptatem cum natus assumenda a eligendi placeat, veniam itaque debitis
      voluptatum eos et saepe ex quaerat aliquam maiores voluptate enim!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      voluptate pariatur incidunt necessitatibus asperiores laborum vero dolorem
      illo quo odit. Similique voluptate ducimus vero nisi non, porro assumenda
      perferendis aperiam.
    </p>
    <cite>John Doe</cite>
  </blockquote>
</article>
