<article>
  <header><h2>Details / Summary</h2></header>
  <details class="foreground">
    <summary>Summary</summary>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus esse,
      necessitatibus voluptas aut illum ducimus impedit quia facilis iure totam,
      labore sit ex? Fugiat deleniti facere sed fuga tenetur alias.
    </p>
  </details>
</article>
