<article>
  <header><h2>Horizontal Rules</h2></header>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    deserunt eligendi dolorem nihil molestias voluptas quis et perspiciatis qui!
    Veniam quibusdam aspernatur vitae sapiente ipsam numquam mollitia laudantium
    amet nobis.
  </p>
  <hr />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam sequi
    molestias error adipisci voluptatum corrupti, veritatis minima nemo fugiat
    harum, modi, cum velit ipsa perspiciatis dignissimos soluta fugit accusamus
    dolorum.
  </p>
</article>
