<article>
  <header><h2>Lists</h2></header>

  <h2>Description list</h2>
  <dl>
    <dt>Description term</dt>
    <dd>Description details.</dd>
    <dt>Description term</dt>
    <dt>This is a second term</dt>
    <dt>This is a third term</dt>
    <dd>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, assumenda
      inventore pariatur animi eius dolore quam perspiciatis sint repellendus,
      unde, nulla nam hic? Aperiam rem aliquam perferendis obcaecati, ipsum
      eius?
    </dd>
  </dl>

  <h2>Unordered</h2>
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>

  <h2>Ordered</h2>
  <ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ol>
</article>
