---
import ActionButtons from "../articles/ActionButtons.astro";
import Headers from "../articles/Headers.astro";
import HTML5Inputs from "../articles/HTML5Inputs.astro";
import Blockquotes from "../articles/Blockquotes.astro";
import Asides from "../articles/Asides.astro";
import Lists from "../articles/Lists.astro";
import Details from "../articles/Details.astro";
import Addresses from "../articles/Addresses.astro";
import Layout from "../layouts/Layout.astro";
import HorizontalRules from "../articles/HorizontalRules.astro";
import Code from "../articles/Code.astro";
import Images from "../articles/embedded-content/Images.astro";
import Audio from "../articles/embedded-content/Audio.astro";
import Video from "../articles/embedded-content/Video.astro";
import Canvas from "../articles/embedded-content/Canvas.astro";
import Meter from "../articles/embedded-content/Meter.astro";
import Progress from "../articles/embedded-content/Progress.astro";
---

<Layout title="ProgressCSS">
  <h1>Text</h1>
  <Headers />
  <Blockquotes />
  <Asides />
  <Lists />
  <Details />
  <Addresses />
  <HorizontalRules />
  <Code />
  <hr />
  <h1>Embedded content</h1>
  <Images />
  <Audio />
  <Video />
  <Canvas />
  <Meter />
  <Progress />
  <HTML5Inputs />
  <ActionButtons />
</Layout>
