<header>
  <h1>ProgressCSS</h1>
  <!-- <nav>
    <a href="/" class="button">Inicio</a>
  </nav> -->
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;

    padding: 1rem;
    background-color: var(--foreground-color);

    nav {
      display: flex;
      gap: 1rem;
    }
  }
</style>
